go 1.25.6

use (
	./service-auth
	./service-document
	./service-files
	./service-gateway
)

replace github.com/nnc/university-reports-creator/gen/go => ./gen/go

replace github.com/nnc/university-reports-creator/pkg/shared => ./pkg/shared
